version: "3.8"

services:
  scriptify_frontend:
    build: .
    container_name: scriptify_frontend
    restart: always
    expose:
      - "3000"
    networks:
      - web

networks:
  web:
    external: true
