version: "3.8"

services:
  scriptify_frontend:
    build: .
    container_name: scriptify_frontend
    restart: always
    env_file: .env
    ports:
      - "3001:3000"
    networks:
      - web

networks:
  web:
    external: true
